<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}?v={{ config.cache }}"> 
        <link href="{{ url_for('static', filename='images/barbell-icon.png') }}" rel="icon">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        {% block imports %}
        {% endblock %}
        {% block title %}
        <title>{{ vars.title }}</title>
        {% endblock %}
    </head>
    <body>
      {% block nav %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">GJ</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        {% endblock %}
        <!-- Alerts Widget-->
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="d-flex">
                <div class="toast-body">
                  {{ message }}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        <!-- Alerts -->
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <footer class="text-center my-3">
        <p>Copyright &copy; {{ vars.footer_text }}</p>
      </footer>
    </body>
</html>

