<div class="align-items-center my-2">
    <a type="button" class="btn bg-medium mx-auto" href="routine/create-new">
      <img src="{{ url_for('static', filename='images/pen.svg') }}" alt="Bootstrap" width="20" height="20">
      Create New Routine
    </a>
</div>
<div class="accordion" id="accordionRoutines">
    {% for item in data.routines %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ item.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}" aria-expanded="false" aria-controls="collapse{{ item.id }}">
          {{ item.name }}
        </button>
      </h2>
      <div id="collapse{{ item.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.id }}" data-bs-parent="#accordionRoutines">
        <div class="accordion-body d-block">
            <p>{{ item.notes }}</p>
            <p>
                This routine has a total of <u>{{ item.data.exercises|count }} exercises</u>,
                and a total of <u>{{ item.data.total_sets }} sets</u>.
            </p>
            <ul class="list-group list-group-flush">
                {% for exercise in item.data.exercises %}
                <li class="list-group-item">{{ exercise }}</li>
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-around mt-2" role="group" aria-label="Log/Edit buttons">
                <a type="button" class="btn bg-medium">Log Workout</a>
                <a type="button" class="btn bg-light">Edit Routine</a>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

