@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400&display=swap');
:root {
    --blue: #1e90ff;
    --white: #E7EDEB;

    --neon-blue: #2272FF;
    --pitch-black: #1D1D1D;
    --baby-blue: #7EC8E3;
    --navy-blue: #000C66;

    --light-primary: #EE4540;
    --light-secondary: #C72C41;
    --crimson: #801336;
    --dark-medium: #510A32;
    --dark-base: #1D142C;
}
html { height: 100%; }
body {
    font-family: 'Libre Franklin', sans-serif !important;
    background: var(--light-primary);
    background: linear-gradient(0deg, var(--light-primary) 12%, var(--light-secondary) 27%, var(--crimson) 41%, var(--dark-base) 75%);
    color: var(--white);
}
.bg-dark {
    background: var(--dark-base) !important;
    color: var(--white) !important;
}
.navbar, .navbar-brand, .nav-link {
    background-color: var(--light-secondary) !important;
    font-weight: 500;
    color: var(--white) !important;
}

.login-form {
    max-width: 30rem;
    min-width: 300px;
}
