{% extends "components/base_protected.html" %}
{% block content %}
<div class="container mt-2">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="log-workout">
            <p>Make component and include template here</p>
        </div>
        <div class="tab-pane fade" id="edit">
            <p>Edit workouts here</p>
        </div>
        <div class="tab-pane fade" id="history">
            <p>Workout history here</p>
        </div>
        <div class="tab-pane fade" id="account">
            <p>Account settings and logout</p>
        </div>
    </div>
</div>
{% endblock %}
