{% extends "components/base.html" %}

{% block content %}
<div class="container-sm mt-3">
    <header>
        <h1 class="mx-auto text-center">Gym Journal</h1>
        <p class="mx-auto text-center">
            <i>Log your workouts with minimal clutter</i>
        </p>
    </header>
</div>
<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mt-2">
        <div class="card bg-dark">
            <div class="card-body">
                <h2>Get Started</h2>
                <p>
                    An app designed with ease of use and minimalism in mind. Like a virtual notebook,
                    log your sets and reps during your workout without any distractions. Edit your 
                    workouts on your computer and log them on your phone, this app is designed to be 
                    used with multiple devices, making it all the easier to edit workouts!
                    <br>Share workouts with friends and compare your benchmarks with other users,
                    Gym Journal can help you take your training to the next level.
                </p>
            </div>
        </div>
      </div>
      <div class="col mt-2">
        <div class="card bg-dark">
            <div class="card-body">
                <h2>Pricing</h2>
                <p>
                    To keep this app as accessible for everyone, we have various tiers to cater to 
                    different types of people and their preferences:
                    <dl>
                        <dt class="bg-success">Free Tier $0/mo</dt>
                        <dd>
                            Create and edit routines. Log workouts and view your workout history.
                            The barebones functionality of this app, enabling you to keep track of
                            your workouts.
                        </dd>
                        <dt class="bg-secondary">Basics Tier $5/mo</dt>
                        <dd>
                            Everything from <i>Free Tier</i> and basic historical graphs (volume, load, reps).
                            Rest times and timed exercises now get a timer. 
                        </dd>
                        <dt class="bg-danger">Advanced Tier $10/mo</dt>
                        <dd>
                            Everything from <i>Basics Tier</i> and graphs get an upgrade. Graphs for individual
                            exercises are shown (1 rep max, max reps). Benchmark against other active users. 
                            Share routines with other users.
                        </dd>
                    </dl>
                </p>
            </div>
        </div>
      </div>
      <div class="col mt-2">
        <div class="card bg-dark">
            <div class="card-body">
                <h2>Download</h2>
                <p>
                    Stay on top of your game by keeping track of your progress. Just like a notebook,
                    except it's web-based, so that you can skip the pen and paper. Log your workouts 
                    exactly how you like to, without wasting time or effort being constrained by an 
                    app's interface.
                </p>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
